{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@screens": "./src/screens",
          "@components": "./src/components",
          "@navigation": "./src/navigation",
          "@state": "./src/state/action",
          "@services": "./src/services",
          "@utils": "./src/utils",
          "@images": "./assets/images"
        }
      }
    ]
  ]
}
